div.newcapteur{
    width: 30%;
    margin-left: auto;
    position: relative;
}
/*fieldset{
    border: none;
}*/

div.delcapteur{
    width: 30%;
    //border: 1px solid black;
    margin-right: auto;
}
div.sousligne{
    text-decoration: underline;
}
div.test{
    margin-top: 10%;
    display: flex;
}