div.grande{
    margin-left: 20%;
    margin-top: 10%;
    width: 60%;

}
#telephone{
    width: 20%;
    margin-left: 5%;
    margin-top: 2%;
}

#commentaire{
    margin-left: 25%;
    margin-top:5%;
    width: 50%;
    border: 1px solid black;

}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10.5px 20px;
    /*margin: 8px 0;*/
    border: none;
    cursor: pointer;
    margin-left: 82.25%;
}
/*width: 100%;*/

#principale #gauche{
    float: left;
    width:25%;
    margin-left: 5%;
}
#principale #droite{
    margin-left: 10%;
}

#sent {
    margin-left: 5%;
}

/*partie admin*/

div.affichage_commentaire{
    width: 60%;
    margin-top: 7%;
    margin-left: 20%;
}
div.message{
    width: 100%;
    padding: 10px;
    border: 1px solid #717171;
    border-bottom: 0px;
}
/*#reponse{
    float: right;
}*/

span{
    color: #1F2596;
    text-decoration: underline;
}

#sent_reponse{
    margin-left: 30%;
}