div.grande{
    margin-left: 25%;
    margin-top: 15%;
    width: 60%;
    border: 1px solid black;

}
#telephone{
    width: 20%;
    margin-left: 5%;
}

#commentaire{
    margin-left: 25%;
    margin-top:5%;
    width: 50%;
    border: 1px solid black;

}

#principale #gauche{
    float: left;
    width:25%;
    margin-left: 5%;
}
#principale #droite{
    margin-left: 10%;
}

#sent {
    margin-left: 5%;
}

/*partie admin*/

div.affichage_commentaire{
    width: 60%;
    margin-top: 7%;
    margin-left: 20%;
}
div.message{
    width: 100%;
    padding: 10px;
    border: 1px solid #717171;
    border-bottom: 0px;
}
/*#reponse{
    float: right;
}*/

span{
    color: #1F2596;
    text-decoration: underline;
}

#sent_reponse{
    margin-left: 30%;
}