body{
    background: url(../../Autre/images/background2.png) no-repeat center fixed lavenderblush;
    margin:0;
    padding:0;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Arial,sans-serif;
}


/*Header -------------------------------------------------------------------------------------------------------------*/
header{
    position: fixed;
    top: 0;
}
div#menutop ul {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8CAA8E;
    width: 100%;
}

div#menutop li {
    float: left;
}
#site {
    font-family: "Arial Black",sans-serif;
    padding-right: 20%;
    padding-top: 5px;
    padding-left: 5%;
    float: left;
    color: grey;
    text-align: center;

}
#login{
    float: right;
}

div#menutop li:last-child {
    border-right: none;
}


div#menutop li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 30px;
    text-decoration: none;
}

div#menutop li a:hover, div#menutop a:active{
    background-color: #6BB0AF;
}

/* Footer --------------------------------------------------------------------------------------------------------------*/
footer {
    color: white;
    background-color: #8CAA8E;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
div#copy {
    float: right;
    text-align: center;
    padding: 9px 30px;

}
div#copy a{
    color: lightslategrey;
    text-decoration: none;
}
div#flink a {
    background-color: #8CAA8E;
    color: white;
    padding:9px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
div#flink a:hover, div#flink a:active {
    background-color: #6BB0AF;
}

/*Menu_user ------------------------------------------------------------------------------------------------------------*/
div#menuleft ul {
    list-style-type: none;
    padding: 0;
    width: 11%; /*Largeur du tableau*/
    background-color: #CFB294;
    position: fixed;
    top: 3%;
    height: 100%;
    overflow: auto;
}
div#menuleft li a, .dropbtn{
    display: inline-block;
    color: white;
    /*text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
}

div#menuleft li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

div#menuleft li a:hover, .dropdown:hover .dropbtn{
    background-color: #104E1B;
    color: black;
}
div#menuleft li.dropdown{
    /*display: inline-block;*//*Empecher le vert plein quand on mettait la souris*/
}
div#menuleft .dropdown-content{
    display: none;
    position: absolute;
    background-color: #CFB294;
    min-width: 160px; /*Permet de faire en sorte que le dropbown ai la bonne taille*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
div#menuleft .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
div#menuleft .dropdown-content a:hover {
    background-color: #298539;
}
div#menuleft .dropdown:hover .dropdown-content{
    display: block;
}

/*--------------------------------------------------------------------------------------------*/

#formulaire{
    align-content: center;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
}
#formulaire #gauche{
    margin-left: 10%;

    float:left;
    width:30%;
}
#formulaire #droite{
    margin-left:55%;
    width:30%;
}

#grande{
    margin-top:5%;
    margin-left: 15%;
    width: 70%;
    border: 5px double #8CAA8E;

}
#telephone{
    width: 20%;
    height: 200px;
    margin-left: 5%;
}

#principale{

}
#principale #gauche{
    float: left;
    width:30%;
    margin-left: 5%;
}
#principale #droite{
    margin-left: 10%;
}
#commentaire{
    width: 60%;
    height: 10em;
    margin-left: 5%;
}

#sent {
    margin-left: 5%;
}



/* Nos prestations -----------------------------------------------------------------------------------------------------*/
#groscadre {
    text-align: justify;
    border: 5px double #8CAA8E;
    margin-left: 15.5%;
    margin-right: 12.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
}
h1{
    width: 100%;
}
.souscadre{
    width: 44%;
    height: 30%;
    border: 5px outset ;
    margin: 1%;
    padding: 5px;
}

#cadre{
    border: 5px double #8CAA8E;
    text-align: justify;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
}

.images{
    float: left;
    padding: 1px;
}

#align{
    display: flex;
    justify-content: space-around;
}
.img1{

    width: 20%;
    height: 20%;
}

.img2{

    width: 20%;
    height: 20%;
}

.img3{
    width: 20%;
    height: 20%;
}
/* ________________________________________________________________________________________________*/
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10.5px 20px;
    /*margin: 8px 0;*/
    border: none;
    cursor: pointer;
    /*width: 100%;*/
}

button:hover {
    opacity: 0.8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*-------------------------------------------------*/

section#gestion_cap {
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 3%;
    width: 80%;
    border: 5px double #8CAA8E;
}

div.newcapteur{
    width: 80%;
    margin-left: 15%;
    position: relative;
}
/*fieldset{
border: none;
}*/

div.delcapteur{
    width: 80%;
//border: 1px solid black;
    margin-right: auto;
}
/*div.sousligne{
text-decoration: underline;
}*/
div.test{
    margin-top: 10%;
    display: flex;
}
/* -----------------------------------------------------------------------------*/
div.affichage_commentaire{
    width: 60%;
    margin-top: 7%;
    margin-left: 20%;
}
div.message{
    width: 100%;
    padding: 10px;
    border: 1px solid #717171;
    border-bottom: 0px;
}
/*#reponse{
    float: right;
}*/

span{
    color: #1F2596;
    text-decoration: underline;
}

#sent_reponse{
    margin-left: 30%;
}

div#adm {
    border: 5px double #8CAA8E;
    margin-left: 15%;
    width: 70%;
}