body{
    size: 80%;
    align-content: space-around;
}
h1{
    color: darkred;
    font-family: Arial;
    font-size: 1.6em;
}

li{
    color: red;
}

.capteur{
    width: 200px;
    float: left;
}

em{
    color: blue;
}


span {
    color: darkred;
    cursor: pointer;
}

.liste {
    position: relative;
    display: inline-block;
}

.contenu_liste {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 5px 10px 0px;
    padding: 12px 16px;
}

.liste:hover .contenu_liste {
    display: block;
}

a:hover {
    cursor: pointer;
    background-color: lightgrey;
}
body{
    margin:0;
    padding:0;
    background: url(../images/background2.png) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
div.conteneur_capteur{
    width: 50%;
    position: fixed;
    border: 1px solid black;
    box-shadow: 0px 8px 16px  grey;
    bottom: 35%;
    left: 30%;
}