#grande{
    margin-left: 25%;
    margin-top: 10%;
    width: 60%;
    border: 1px solid black;

}
#telephone{

    width: 20%;
    margin-left: 5%;
}

#principale{

}
#principale #gauche{
    float: left;
    width:30%;
    margin-left: 10%;
}
#principale #droite{
    margin-left: 10%;
}
#commentaire{
    width: 60%;
    height: 10em;
}