body{
    margin:0;
    padding:0;
    background: url(../images/background2.png) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
/*Menu top*/
div#menutop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*width: 100%;*/
}

div#menutop li {
    float: left;
    border-right:1px solid #bbb;
    width: 24.95%;
}

div#menutop li:last-child {
    border-right: none;
}

div#menutop li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#menutop li a:hover{
    background-color: #111;
}

/*Connexion*/

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 30%;
}
input[type=password], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 30%;
}
div#connexion {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}